// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  margin-left: 100px;
}

.box {
  border-left: solid gray;
  padding-left: 20px;
}

.color-box {
  background-color: #FFFEE4;
  width: 350px;
}

.link {
  text-decoration:none;
  color: blue;
}
